<div class="col-xs-3">
    <div class="right">
        <div class="panel panel-default">
            <div class="panel-heading">
            <h3 class="panel-title">如何创建计划</h3>
            </div>
            <div class="panel-body">
             <p>1.给自己的计划取个名字，方便找到有共同梦想的人。</p>

             <p>2.描述清楚自己的计划，给自己的计划划分步骤吧！</p>
            </div>
        </div>

        <div class="makeplan">
            <a href="/users/makeplan"><button class="btn btn-success btn-lg btn-block" type="button">创建一个计划</button></a>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
            <h3 class="panel-title">最新动态</h3>
            </div>
            <div class="panel-body">
             {% for data in records %}
                <div class="row plan-comment" >
                    {% if data.type == 1 %}
                    <p>
                        <a href="/users/{{ data.plan.user.id }}">{{data.plan.user.nickname}}</a> 发布了计划:
                        <a href="/plan/{{ data.plan.id }}">{{ data.plan.title }}</a>
                    </p>
                    <p>{{ data.plan.description }}</p>
                    <p>{{ data.created_time }}</p>
                    {% elif data.type == 2 %}
                    <p>
                        <a href="/users/{{ data.plan.user.id }}">{{data.plan.user.nickname}}</a> 跟进了计划:
                        <a href="/plan/{{ data.plan.id }}">{{ data.plan.title }}</a>
                    </p>
                    <p>{{ data.plan_comment.content }}</p>
                    <p>{{ data.created_time }}</p>
                    {% elif data.type == 3 %}
                    <p>
                        <a href="/users/{{ data.comment.user.id }}">{{data.comment.user.nickname}}</a> 评论了计划:
                        <a href="/plan/{{ data.plan.id }}">{{ data.plan.title }}</a>
                    </p>
                    <p>{{ data.comment.content }}</p>
                    <p>{{ data.created_time }}</p>

                    {% elif data.type == 4 %}
                    <p>
                        <a href="/users/{{ data.say.user.id }}">{{data.say.user.nickname}}</a> 发布了说说:
                    </p>
                    <p>{{ data.say.content }}</p>
                    <p>{{ data.created_time }}</p>

                    {% elif data.type == 5 %}
                    <p>
                        <a href="/users/{{ data.say_comment.user.id }}">{{data.say_comment.user.nickname}}</a> 评论了<a href="/users/{{ data.say_comment.say.user.id }}">{{ data.say_comment.say.user.nickname }}</a>的说说:
                    </p>
                    <p>{{ data.say_comment.content }}</p>
                    <p>{{ data.created_time }}</p>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>



    </div>

</div>