{% extends "web/base.html" %}
{% block content %}
<div class="width-100 margin-top-50">
    <div class="container-fluid up-down-50" >
        <div class="row">
            <div class="row plan-top">
                <ul class="list-inline">
                  <li><a href="/">首页</a></li>/
                  <li><a href="/say/">说说</a></li>/
                  <li>{{say.user.nickname}}的说说</li>
                </ul>
            </div>

            <div class="col-xs-9 padding-right">
                <div class="row margin-up-down-10" >
                   <div class="plan-title">{{say.user.nickname}}的说说</div>
                   <div class="plan-status">
                       <div class="col-xs-10">
                           <p class="action">
                                <span class="glyphicon glyphicon-user"></span><a href="/users/{{say.user.id}}"> {{say.user.nickname}}</a>
                                <span class="action-span"><span class="glyphicon glyphicon-eye-open"></span> {%if say.clicks == None %}0{%else%}{{say.clicks}}{%endif%}次浏览</span>
                                <span class="action-span"><span class="glyphicon glyphicon-comment"></span> {{ say.say_comment_num}}次评论</span>
                                <span class="action-span"><span class="glyphicon glyphicon-time"></span> {{ say.created_time }}</span>
                           </p>
                       </div>
                   </div>
                   <div>
                       {{say.content}}
                   </div>
                   <div>
                       <div>
                           <div class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more"></a><a href="#" class="bds_qzone" data-cmd="qzone"></a><a href="#" class="bds_tsina" data-cmd="tsina"></a><a href="#" class="bds_tqq" data-cmd="tqq"></a><a href="#" class="bds_renren" data-cmd="renren"></a><a href="#" class="bds_weixin" data-cmd="weixin"></a></div>
                           <script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdPic":"","bdStyle":"0","bdSize":"16"},"share":{},"image":{"viewList":["qzone","tsina","tqq","renren","weixin"],"viewText":"分享到：","viewSize":"16"},"selectShare":{"bdContainerClass":null,"bdSelectMiniList":["qzone","tsina","tqq","renren","weixin"]}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
                       </div>
                   </div>
                </div>

                {% if datas != [] %}
                <h4>评论列表</h4>
                <div class="row margin-up-down-10 getborder-top">
                    <div class="col-xs-12 ">
                        {%- for item in datas -%}
                            <div class="row  plan-comment">
                                <div class="col-xs-1">
                                    <a href="/users/{{item.user.id}}"><img {% if item.user.pic != None %}
                                            src="{{item.user.pic}}"
                                        {% else %}
                                            src="/static/image/head.jpg"
                                        {% endif %}
                                            width="53px;" height="53px;"></a>
                                </div>

                                <div class="col-xs-11" id="{{ item.id }}" >
                                    <p><strong><a href="/users/{{item.user.id}}">{{ item.user.nickname }}</a></strong></p>
                                    <p class="">{{ item.content }}</p>
                                    <p><a href="javascript:{% if not user%}void(){% else %}comment({{ item.id }}){% endif %};">回复</a>&nbsp;&nbsp;&nbsp;{{item.created_time}}</p>
                                </div>
                            </div>
                            {%- endfor -%}

                    </div>
                    {% include "web/default/pages.html" %}
                </div>
                {% endif %}

                <h4>发表评论</h4>
                <div class="row margin-up-down-10 up-down-10 getborder-top">
                    <form class="form2" role="form" onsubmit="return false;">
                        <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
                        <input type="hidden" name="say_id" value="{{say.id}}">
                          <div class="form-group">
                            <div class="col-sm-12">
                              {% if user['id'] is not defined %}
                                   <p class="text-right"><a href="/login">登录</a>&nbsp;<a href="/register">注册</a></p>
                              {% endif %}
                              <textarea class="form-control" {% if user['id'] is not defined %} disabled="disabled" {% endif %} maxlength="200" placeholder="发表你的评论吧" id="content1" name="content" rows="3"></textarea>
                              <div class="help-block " >
                                <p class="text-right">你还可以输入200个字</p>
                              </div>
                             {% if user['id'] is defined %}
                              <button type="submit" id="submit1" disabled="disabled" class="btn  btn-success">发表评论</button>
                             {% endif %}
                            </div>
                          </div>
                    </form>
                </div>

                <script>
                    $(function(){
                        $form1 = $(".form2");
                        $des1 = $("#content1");
                        $submit1 = $("#submit1");

                        $des1.blur(function(){
                            if ($.trim($(this).val().length) >= 1) {
                                $submit1.removeAttr('disabled');
                            } else {
                                $submit1.attr('disabled','disabled');
                            }
                            $(this).next('div').find('p').html('你还可以输入'+(200-$(this).val().length)+'个字')
                        }).keyup(function(){
                            $(this).triggerHandler("blur");
                        }).focus(function(){
                            $(this).triggerHandler("blur");
                        })

                        $form1.submit(function(){
                            var data1 = $form1.serialize();
                            $.ajax({
                                url:'/users/say_comment/',
                                data:data1,
                                'type':'POST',
                                success:function(data){
                                    if (data == 0) {
                                        $des1.val('');
                                        location.reload();
                                    } else {
                                        alert('服务器繁忙，请稍后重试！');
                                    }
                                },
                                error: function(){
                                    alert('服务器繁忙，请稍后重试！');
                                },

                            })
                        })
                    })

                </script>


            </div>
            {% include "web/users/center/right.html" %}
        </div>
    </div>
</div>
<script>
    function comment(val) {
        var name = $("#"+val+" p").eq(0)
            .find('strong > a').html();
        $content = $("#content1");
        $content.focus();
        $content.val('@'+name+'\n');
    }
</script>
{% endblock %}