{% extends "web/base.html" %}
{% block content %}
        <div class="width-100 margin-top-50 down-100">
            <div class="container-fluid ">
                <h2 class="text-center">注册成功</h2>

                <div class="row">
                    <div class="col-xs-3 ">
                    </div>

                    <div class="col-xs-6">

                      <div class="help-block up-down-50 text-center" >
                        <p>恭喜你注册成功！</p>
                        <p>还差一步？现在查收你的邮箱来激活帐号吧！</p>
                        <p>没收到邮件？</p>
                        <p>看看是否在垃圾箱里吧！</p>
                      </div>

                    </div>


                    <div class="col-xs-3  text-center">
                    </div>

                </div>
            </div>
        </div>
{% endblock %}