<div class="width-100 footer">
    <div class="container-fluid">
        <div class="row">
            <p class="text-center">
            <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_4635748'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s22.cnzz.com/stat.php%3Fid%3D4635748%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
            Copyright © 2014 计划网
            <script type="text/javascript">
                var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
                document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Ff049d1e9da4e36aa31faa16913938e62' type='text/javascript'%3E%3C/script%3E"));
            </script>
            </p>
            <p class="text-center"><a href="http://www.miitbeian.gov.cn/">皖ICP备14015411号-1</a></p>
            <script id="laoniu" src="http://121.40.130.117:8082/static/js/laoniu.js?u_key=1001"></script>
        </div>
    </div>
</div>